*.o
*.d
.env
backups/
settings.ini*
backrooms.log
backrooms.previous.log
*.elf
PARAM.SFO
/EBOOT.PBP
logs/
backrooms_*.log
__pycache__/
*.pyc
.DS_Store
dist/BACKROOMS3D.backup.*
release/
tools/docker-config/buildx/
